/* three.css */

#three-canvas {
    position: relative;
    flex: 1;
    min-width: 0;
    height: 100%;
}

.label-renderer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.label {
    color: black;
    font-size: 16px;
    pointer-events: none;
}