/* app.css */

:root {
    --primary: #c9bddd;
    --secondary: #dfe4e7;
    --border-raius: 8px;
}

html {
    font-family: Verdana, "Hiragino Sans", 'Noto Sans JP', sans-serif;
}

body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

main {
    flex: 4;
}
input {
    height: 44px;
    width: 30%;
    border: none;
    border-radius: var(--border-raius);
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    font-size: 16px;
    text-align: right;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.label-renderer {
    position: absolute;
    top: 0;
}

button {
    width: 88px;
    height: 44px;
    border: none;
    border-radius: var(--border-raius);
    font-size: 16px;
    color: white;
    background-color: var(--primary);
}

#position-list {
    flex: 1;
    padding: 4px 8px;
    display: block;
    font-size: 12px;
    color: black;
    background-color: white;
}
#position {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

#toolbar {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 8px;
}

.axis-label {
    color: black;
    font-size: 16px;
    pointer-events: none;
}

#app-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#three-canvas-container {
    position: relative;
    flex: 1;
}

